!#include ".Xresources.d/solarized-light"
#include ".Xresources.d/nord"
!#include ".Xresources.d/molokai"
Xft.dpi: 120
Xft.autohint: 8
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.scrollBar: false
URxvt.font: xft:Inconsolata:medium:size=10
URxvt.boldFont: xft:Inconsolata:bold:size=10
URxvt.italicFont: xft:Inconsolata:italic:size=10
URxvt.boldItalicFont: xft:Inconsolata:bold:italic:size=10
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select
URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.url-launcher:   /usr/bin/firefox
URxvt.underlineURLs:  True
URxvt.matcher.button: 1 
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V:     perl:pasta:paste
! Comment this if you do not want copy when text is selected
URxvt.clipboard.autocopy: true
